@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {}

element.style {
}
.uk-link-toggle:hover .uk-link, .uk-link:hover, a:hover {
    text-decoration: none;}

.logo_text{
    border: 1px solid #551919;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #727272;
    padding: 0 8px;
    height: 30px;
    line-height: 30px;
    background-color: white;
    &:hover{
        background-color: rgb(68, 255, 0);
        text-decoration: none;
    }
}
/*.logo_text:hover{
    background-color: rgb(158, 222, 135);
}*/
.free_btn{
    border: 3px solid #F7B157;
    color: #868686;
    font-weight: bold;
    padding: 10px 20px;
    margin-right: 20px;
    text-align: center;
    border-radius: 50px;
    letter-spacing: 0.2em;
    &:hover{
        color: white;
        background-color: rgb(255, 166, 0);
        text-decoration: none;
    }
}

.uk-offcanvas-bar{
    background-color: #fff;
    a{
        color: #000;
        &:hover{
            color: red;
            text-decoration: underline;
        }
    }
}

@media (min-width: 1024px){
    #offcanvas-flip{
        display: block;
        position: static;
        .uk-offcanvas-bar{
            position: static;
            width: auto;
            padding: 0;
            background: transparent;
            .uk-offcanvas-close{
                display: none;
            }
            a{
                color: black;
            }
        }
    }
}