<header uk-nav class="txtJL flex fixed w-full z-50 bg-[#F6F8FD] h-[70px] px-[20px] items-center sm:px-[30px] md:px-[50px] lg:px-[55px]">
    <a class="flex items-center gap-[15px]" href="#">
      <img class="w-[100px] ml-[20px]" src="image/logo-teaching.png" alt="">
      <div class="logo_text">線上開課工具!</div>
    </a>
    <nav class="uk-parent mx-auto absolute top-[70px] w-full text-center left-0 lg:static lg:w-auto">
      <a class="absolute top-[-40px] right-[22px] mr-1" href="#"><img class="lg:hidden" src="image/icon_bars.svg" alt=""></a>
      <ul id="header_ui" uk-scrollspy-nav="closest: li; scroll: true" class="flex lg:!flex gap-[10px] flex-col lg:flex-row bg-[#F6F8FD]">
        <li><a class="text-[#2D2D2D] hover:text-[#007cc1] justify-center py-[10px] font-bold" href="#scroll_1">線上開課工具</a></li>
        <li><a class="text-[#2D2D2D] hover:text-[#007cc1] justify-center py-[10px] font-bold" href="#scroll_2">功能特色</a></li>
        <li><a class="text-[#2D2D2D] hover:text-[#007cc1] justify-center py-[10px] font-bold" href="#scroll_3">方案費用</a></li>
        <li><a class="text-[#2D2D2D] hover:text-[#007cc1] justify-center py-[10px] font-bold" href="#scroll_4">客戶案例</a></li>
        <li><a class="text-[#2D2D2D] hover:text-[#007cc1] justify-center py-[10px] font-bold" href="#scroll_5">關於我們</a></li>
        <li><a class="text-[#2D2D2D] hover:text-[#007cc1] justify-center py-[10px] font-bold" href="#scroll_6">藍猴首頁</a></li>
      </ul>
    </nav>
    <a class="hidden lg:block free_btn" href="#">FREE! 開通試用</a>
  </header>
