<header uk-nav class="flex bg-[#F6F8FD] h-[70px] px-[20px] items-center sm:px-[30px] md:px-[50px] lg:px-[55px]">
    <a class="flex items-center gap-[15px]" href="#">
      <img class="w-[100px] ml-[20px]" src="image/logo-teaching.png" alt="">
      <div class="logo_text">線上開課工具!</div>
    </a>
    <!-- <nav class="uk-parent mx-auto absolute top-[70px] w-full text-center left-0 lg:static lg:w-auto">
      <ul class="flex gap-[10px] flex-col lg:flex-row">
        <li><a class="text-[#2D2D2D] hover:text-[#007cc1] block py-[10px] font-bold" href="#">線上開課工具</a></li>
        <li><a class="text-[#2D2D2D] hover:text-[#007cc1] block py-[10px] font-bold" href="#">功能特色</a></li>
        <li><a class="text-[#2D2D2D] hover:text-[#007cc1] block py-[10px] font-bold" href="#">方案費用</a></li>
        <li><a class="text-[#2D2D2D] hover:text-[#007cc1] block py-[10px] font-bold" href="#">客戶案例</a></li>
        <li><a class="text-[#2D2D2D] hover:text-[#007cc1] block py-[10px] font-bold" href="#">關於我們</a></li>
        <li><a class="text-[#2D2D2D] hover:text-[#007cc1] block py-[10px] font-bold" href="#">藍猴首頁</a></li>
      </ul>
    </nav> -->
    
    <div id="offcanvas-flip" class="mx-auto" uk-offcanvas="flip: true overlay: true">
        <div class="uk-offcanvas-bar">
            <button class="uk-offcanvas-close" type="button" uk-close></button>
            <ul class="flex gap-[20px] flex-col lg:flex-row">
                <li><a class="text-[#2D2D2D] hover:text-[#007cc1] justify-center py-[10px] font-bold" href="#">線上開課工具</a></li>
                <li><a class="text-[#2D2D2D] hover:text-[#007cc1] justify-center py-[10px] font-bold" href="#">功能特色</a></li>
                <li><a class="text-[#2D2D2D] hover:text-[#007cc1] justify-center py-[10px] font-bold" href="#">方案費用</a></li>
                <li><a class="text-[#2D2D2D] hover:text-[#007cc1] justify-center py-[10px] font-bold" href="#">客戶案例</a></li>
                <li><a class="text-[#2D2D2D] hover:text-[#007cc1] justify-center py-[10px] font-bold" href="#">關於我們</a></li>
                <li><a class="text-[#2D2D2D] hover:text-[#007cc1] justify-center py-[10px] font-bold" href="#">藍猴首頁</a></li>
            </ul>
    
        </div>
    </div>
    <a class="ml-auto lg:hidden mr-5" href="#" uk-toggle="target: #offcanvas-flip"><img src="image/icon_bars.svg" alt=""></a>
    <a class="hidden lg:block free_btn" href="#">FREE! 開通試用</a>
  </header>